.button__heading {
  text-align: center;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
  margin: auto;
}

.button {
  cursor: pointer;
  margin: 1rem;
  padding: 10px;
  border: none;
}

.button__one {
  background-color: black;
  color: #ebe2e2;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.button__one:hover {
  background-color: #ebe2e2;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
}

.button__two {
  background-color: red;
  color: white;
  -webkit-box-shadow: 1px 1px 1px 1px darkred;
          box-shadow: 1px 1px 1px 1px darkred;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button__two:hover {
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  font-weight: bold;
}

.button__three {
  background-color: aqua;
}

.button__three:hover {
  border-top: 2px solid aqua;
  border-bottom: 2px solid aqua;
  background-color: white;
}

.button__four {
  background-color: gainsboro;
}

.button__four:active {
  -webkit-animation-name: backgroundFromRight;
          animation-name: backgroundFromRight;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes backgroundFromRight {
  0% {
    background-color: gainsboro;
  }
  50% {
    background-color: black;
    color: white;
    font-weight: bold;
  }
  100% {
    background-color: gainsboro;
  }
}

@keyframes backgroundFromRight {
  0% {
    background-color: gainsboro;
  }
  50% {
    background-color: black;
    color: white;
    font-weight: bold;
  }
  100% {
    background-color: gainsboro;
  }
}

.button__five {
  background-color: beige;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.button__five:hover {
  background-color: black;
  color: beige;
}

body {
  margin: 0;
}

nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

nav a {
  text-decoration: none;
  padding: 1rem;
  background-color: lightgreen;
  margin: 10px;
}

nav a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #adc8ad;
  border-radius: 15px 0px 15px 0px;
}

.animation__container {
  border: 1px solid black;
  height: 250px;
  width: 250px;
  position: relative;
  margin: 10px;
}

.animation__one--item {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  -webkit-animation: bounce 2s linear infinite;
          animation: bounce 2s linear infinite;
}

@-webkit-keyframes bounce {
  0% {
    left: 0;
  }
  50% {
    margin-left: 10%;
    margin-top: 40px;
    background-color: blue;
  }
  100% {
    left: 0;
  }
}

@keyframes bounce {
  0% {
    left: 0;
  }
  50% {
    margin-left: 10%;
    margin-top: 40px;
    background-color: blue;
  }
  100% {
    left: 0;
  }
}

.animation__two--item {
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: none;
  -webkit-animation: slide 4s linear infinite;
          animation: slide 4s linear infinite;
  position: absolute;
}

@-webkit-keyframes slide {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
    background-color: yellow;
  }
  50% {
    top: 200px;
    left: 200px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes slide {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
    background-color: yellow;
  }
  50% {
    top: 200px;
    left: 200px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.animation__three--item {
  background-color: blue;
  width: 50px;
  height: 50px;
  -webkit-animation: multi 3s linear infinite;
          animation: multi 3s linear infinite;
}

@-webkit-keyframes multi {
  0% {
    background-color: blue;
  }
  50% {
    background-color: red;
    margin: 20px;
    margin-left: 50%;
    border-radius: 50%;
  }
  100% {
    background-color: blue;
  }
}

@keyframes multi {
  0% {
    background-color: blue;
  }
  50% {
    background-color: red;
    margin: 20px;
    margin-left: 50%;
    border-radius: 50%;
  }
  100% {
    background-color: blue;
  }
}
/*# sourceMappingURL=style.css.map */